:root {
    --primary1: #8631d1;
    --primary2: #D09CFA;
    --secondary1: #748ef5;
    --secondary2: #141E46;
    --dark1: #3b3c3d;
    --dark2: #393E46;
    --dark3: #656c75;
    --light: #EEEEEE;
    --light2: #dddddd;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
    display: none !important;
}

body {
    background-color: indigo;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
/* PANTALLA DE INICIO */
.welcome-message  {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #fee6e2;
    border-radius: 5px;
    box-shadow: 0px  1px 30px #f8f7fc;
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #f8f7fc;
    font-weight: 700;
    row-gap: 65px;
    padding: 40px 10px 50px 10px;
    position: absolute;
    left: 0;
    right: 0;
    align-items: center;
    background-image: url(./assets/Inicio1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
}

.welcome-message .button--standar{
    width: 55%;
    height: 10%;
    padding: 10px 0;
    font-size: 18px;
    cursor: pointer;
    text-transform: uppercase;
    background-color:#aaefec;
    color: #51a1dc;
    border: 3px solid #51a1dc;
    box-shadow: 0px 0px 4px  5px white;
    word-spacing: 4px;
    letter-spacing: 4px;
    text-align: center;
}
/* MENSAJES DE JUEGO nuevo RECORD */
.message--record , .win-without-record , .message--defeat {
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    /*background-color: #FEE3E2;*/
    border: 2px solid #FEE3E2;
    border-radius: 5px;
    box-shadow: 0px 1px 10px #FEE3E2;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #FEE3E2;
    font-weight: 700;
    row-gap: 24px;
    padding: 10px 10px 20px 10px;
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    align-items: center;
    background-image: url(./assets/fondo_record.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.message--record .button--standar, .win-without-record .button--standar, .message--defeat .button--standar{
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    text-transform: uppercase;
    background-color: #fee3e2; 
    color: #e11116;
    border: 2px  solid #e11116;
    box-shadow: 0px 0px 4px 5px #fee3e2;
    word-spacing: 3px;
    letter-spacing: 2px;
    text-align: center;
}

.fa-ranking-star, .fa-trophy, .fa-ghost{
    font-size:40px;
}

.new--record {
    font-size: 25px;
    text-shadow: 0px 0px 15px #e11116;
}

.fa-gamepad {
    width: 100px;
    height: 100px;
    background-image: url(./assets/consola.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
/* Mensaje al ganar sin nuevo record */

.win-without-record{
    background-image: url(./assets/fondo_norecord.jpg);
    border: 2px solid #d5f9e8;
    box-shadow: 0px 1px 10px #d5f9e8;
    padding: 20px 10px 20px 10px;
} 

.win-without-record .button--standar {
    background-color: #d5f9e8;
    color: #17d22c;
    border: 2px  solid #17d22c;
    box-shadow: 0px 0px 4px 5px #d5f9e8;
}
.win-without-record p {
    color: #fef2b6;
}

.fa-trophy{
    width: 100px;
    height: 100px;
    background-image: url(./assets/trofeo.svg);
    background-repeat:no-repeat ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fef2b6;
}

/* Mensaje si pierder las 3 vidas */

.fa-ghost {
    width: 100px;
    height: 100px;
    background-image: url(./assets/ghost.svg);
    background-repeat:no-repeat ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fef2b6;
}


.fa-gamepad {
    font-size: 60px;
    color: #f8f7fc;
}


.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #ff6600;
    border-radius: 12px;
    background-color: #feff9d;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 10px;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

.messages > p {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: var(--light2);
}




@media (max-width: 440px) {
    /* Aquí se acomodan los botones (resonsive) */
    button {
        margin-top: 25px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }

    .welcome-message .button--standar {
        width: 80%;
        height: 40px;
        font-size: 16px;
    }
    
}