:root {
    --primary1: #8631d1;
    --primary2: #D09CFA;
    --secondary1: #748ef5;
    --secondary2: #141E46;
    --dark1: #3b3c3d;
    --dark2: #393E46;
    --dark3: #656c75;
    --light: #EEEEEE;
    --light2: #dddddd;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inactive{
    display: none !important;
}

body {
    background-color: indigo;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.game-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    width: 100vw;
}

canvas {
    border: 4px solid #ff6600;
    border-radius: 12px;
    background-color: #feff9d;
}

.btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
}

button {
    background-color: #fdef05;
    border-radius: 8px;
    border-color: #ff6600;
    font-family: inherit;
    margin: 10px;
    padding: 5px 20px;
    width: 100px;
}

button:not(:last-child) {
    margin-right: 10px;
}

.messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    max-width: 460px;
}

.messages > p {
    display: block;
    margin: 0;
    margin-bottom: 8px;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: var(--light2);
}




@media (max-width: 440px) {
    /* Aquí se acomodan los botones (resonsive) */
    button {
        margin-top: 25px;
    }

    #up,
    #down {
        margin-left: 100%;
        margin-right: 100%;
    }
}